# =========================
# Node / JavaScript
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/
.cache/
*.log

# =========================
# Environment & Secrets
# =========================
.env
.env.*
*.pem
*.key
*.crt
*.cer
*.der
*.p12
*.jks
*.pfx
*.keystore
*.kube/config

# AWS
.aws/
aws-credentials*

# GCP
gcpKeys/
*.json  # (prevents GCP service account leaks)

# Azure
azureauth.json

# =========================
# IDE / Editor junk
# =========================
.vscode/
.idea/
.theia
*.swp
*.swo
*.DS_Store
Thumbs.db/






uploader-data/





# =========================
# Testing / Coverage
# =========================
coverage/
.nyc_output/

# =========================
# Misc
# =========================
*.bak
*.tmp
